<section class="section about" id="section-about">
  <header class="section-header">About</header>

  <div class="subtitle">遊びかた</div>
  <video controls="true" class="pv" src="img/pv.mp4" type="video/mp4"></video>
</section>
