<section class="section about" id="section-about">
  <header class="section-header">About</header>

  <div class="subtitle">遊びかた</div>
  <video class="pv" src="img/pv.mp4" controls></video>

  <div class="subtitle">プレイ動画</div>
</section>
