<section class="section character" id="section-character">
  <header class="section-header">キャラクター</header>

  <ul class="character-list">
    <li class="character" data-modal-open="modal-character-maka">マカ</li>
    <li class="character" data-modal-open="modal-character-oniku">お肉</li>
  </ul>

  <div id="modal-character-maka" data-modal>
    <div class="modal-title">マカ</div>
    <div class="modal-content">
      食いしん坊で、食べ物を見つけると一目散に走り出すぞ。
    </div>
  </div>

  <div id="modal-character-oniku" data-modal>
    <div class="modal-title">お肉</div>
    <div class="modal-content">
      天の神様(プレイヤー)から与えられるお肉。<br>
      食いしん坊のマカは、お肉にめがけて一直線だ!
    </div>
  </div>

  <div id="modal-character-shovel" data-modal>
    <div class="modal-title">シャベル</div>
    <div class="modal-content">
      天の神様(プレイヤー)が持つシャベルで、<br>
      1体だけ入る大きな穴を開ける。<br>
      シャベルで開けた穴に敵が落ちると一生出られないだろう。
    </div>
  </div>
<!--
    <dt class="character-info">ハート</dt>
    <dd class="character-info-description">
      草からたまに出てくるアイテム。<br>
      マカの心の癒しである。
    </dd>

    <dt class="character-info">いが栗</dt>
    <dd class="character-info-description">
      木を揺らすとたまに出てくる。<br>
      トゲが付いているから当たると痛い。<br>
      でも、何回か突っつくと...
    </dd>

    <dt class="character-info">ユーメイ</dt>
    <dd class="character-info-description">
      マカにぴょんぴょん跳ねながら襲いかかる敵。<br>
      突っつくと動きが止まるぞ。
    </dd>

    <dt class="character-info">アタックピーポー</dt>
    <dd class="character-info-description">
      マカをしつこく追いかけて襲ってくる敵。<br>
      突っつくと少しだけ止まるが、止めるには他の方法が必要そうだ。
    </dd>
  </dl>
-->
</section>
