<section class="section credit" id="section-credit">
  <header class="section-header">Credit</header>

  <dl class="credit-list">
    <dt class="contributor">Illust - がんたん</dt>
    <dd class="profile-wrapper">
      <ul class="profile">
        <li>Twitter @guntankoba</li>
        <li>Pixiv https://pixiv.me/guntankoba</li>
      </ul>
    </dd>

    <dt class="contributor">Illust - くれいじー</dt>
    <dd class="profile-wrapper">
      <ul class="profile">
        <li>Twitter @crazy_life1122</li>
      </ul>
    </dd>

    <dt class="contributor">Program - パフーハ</dt>
    <dd class="profile-wrapper">
      <ul class="profile">
        <li>Twitter @pafuuha</li>
      </ul>
    </dd>

    <dt class="contributor">Sound - Nasubeing</dt>
    <dd class="profile-wrapper">
      <ul class="profile">
        <li>Twitter @nasubeing</li>
        <li>SoundCloud https://www.souncloud.com/nasubeing</li>
      </ul>
    </dd>

    <dt class="contributor">Webpage - Yadex205</dt>
    <dd class="profile-wrapper">
      <ul class="profile">
        <li>Twitter @yadex205_vj</li>
        <li>http://yadex205.info</li>
      </ul>
    </dd>
  </dl>
</section>
