<section class="section credit" id="section-credit">
  <header class="section-header">Credit</header>

  <div class="oy-brigade-logo-and-message">
    Produced by OY Brigade.
  </div>

  <dl class="credit-list">
    <dt class="contributor">がんたん // Illustrator</dt>
    <dd class="profile-wrapper">
      <ul class="fa-ul profile">
        <li><i class="fa fa-li fa-lg fa-twitter-square"></i> @guntankoba</li>
        <li><i class="fa fa-li fa-lg fa-picture-o"></i> https://pixiv.me/guntankoba</li>
      </ul>
    </dd>

    <dt class="contributor">くれいじー // Illustrator</dt>
    <dd class="profile-wrapper">
      <ul class="fa-ul profile">
        <li><i class="fa fa-li fa-lg fa-twitter-square"></i> @crazy_life1122</li>
      </ul>
    </dd>

    <dt class="contributor">パフーハ // Programmer</dt>
    <dd class="profile-wrapper">
      <ul class="fa-ul profile">
        <li><i class="fa fa-li fa-lg fa-twitter-square"></i> @pafuuha</li>
      </ul>
    </dd>

    <dt class="contributor">Nasubeing // Trackmaker</dt>
    <dd class="profile-wrapper">
      <ul class="fa-ul profile">
        <li><i class="fa fa-li fa-lg fa-twitter-square"></i> @nasubeing</li>
        <li><i class="fa fa-li fa-lg fa-soundcloud"></i> https://www.souncloud.com/nasubeing</li>
      </ul>
    </dd>

    <dt class="contributor">Yadex205 // Webdesigner</dt>
    <dd class="profile-wrapper">
      <ul class="fa-ul profile">
        <li><i class="fa fa-li fa-lg fa-twitter-square"></i> @yadex205_vj</li>
        <li><i class="fa fa-li fa-lg fa-globe"></i> http://yadex205.info</li>
      </ul>
    </dd>
  </dl>

  <div class="about-dependencies">
    This website is powered by
    <a href="https://pages.github.com" target="_blank">Github Pages</a>
    and
    <a href="https://github.com/iamdustan/smoothscroll" target="_blank">iamdustan/smoothscroll</a>
  </div>
</section>
