<section class="carousel-page credit" id="credit">
  <header class="page-title">Credit</header>
  <img alt="" src="img/oy_logo.png"/>
  <dl>
    <dt><i class="fa fa-fw fa-lg fa-picture-o"></i> Illust - がんたん</dt>
    <dd>
      <ul class="fa-ul">
        <li><i class="fa-lg fa-li fa fa-twitter-square"></i> @guntankoba</li>
        <li><i class="fa-lg fa-li fa fa-picture-o"></i> https://pixiv.me/guntankoba</li>
      </ul>
    </dd>

    <dt><i class="fa fa-fw fa-lg fa-picture-o"></i> Illust - くれいじー</dt>
    <dd>
      <ul class="fa-ul">
        <li><i class="fa-lg fa-li fa fa-twitter-square"></i> @crazy_life1122</li>
      </ul>
    </dd>

    <dt><i class="fa fa-fw fa-lg fa-code"></i> Program - パフーハ</dt>
    <dd>
      <ul class="fa-ul">
        <li><i class="fa-lg fa-li fa fa-twitter-square"></i> @pafuuha</li>
      </ul>
    </dd>

    <dt><i class="fa fa-fw fa-lg fa-music"></i> Sound - Nasubeing</dt>
    <dd>
      <ul class="fa-ul">
        <li><i class="fa-lg fa-li fa fa-twitter-square"></i> @nasubeing</li>
        <li><i class="fa-lg fa-li fa fa-soundcloud"></i> https://soundcloud.com/nasubeing</li>
      </ul>
    </dd>

    <dt><i class="fa fa-fw fa-lg fa-code"></i> Web design - Yadex205</dt>
    <dd>
      <ul class="fa-ul">
        <li><i class="fa-lg fa-li fa fa-twitter-square"></i> @yadex205_vj</li>
        <li><i class="fa-lg fa-li fa fa-globe"></i> http://yadex205.info</li>
      </ul>
    </dd>
  </dl>
</section>
