<section class="section distribution" id="section-distribution">
  <header class="section-header">頒布概要</header>

  <dl class="distribution-info-list">
    <dt class="distribution-info">Event</dt>
    <dd class="distribution-info-description">コミックマーケット 91</dd>

    <dt class="distribution-info">Date</dt>
    <dd class="distribution-info-description">2016/12/29 木曜日 (1日目)</dd>

    <dt class="distribution-info">Place</dt>
    <dd class="distribution-info-description">西地区 は-19b</dd>

    <dt class="distribution-info">Circle Name</dt>
    <dd class="distribution-info-description">OY旅団</dd>

    <dt class="distribution-info">Content</dt>
    <dd class="distribution-info-description">
      <dl class="game-info-list">
        <dt class="game-info">Name</dt>
        <dd class="game-info-description">right &rarr; right 〜右は正義〜</dd>

        <dt class="game-info">Genre</dt>
        <dd class="game-info-description">右へ誘うアクションゲーム</dd>

        <dt class="game-info">Platform</dt>
        <dd class="game-info-description">Windows 7, 8.1, 10</dd>

        <dt class="game-info">Requirements</dt>
        <dd class="game-info-description">DirectX</dd>

        <dt class="game-info">Price</dt>
        <dd class="game-info-description">&yen; 200</dd>
      </dl>
    </dd>
  </dl>
</section>
