<section class="section stage" id="section-stager">
  <header class="section-header">ステージ</header>

  <dl class="stage-info-list">
    <dt class="stage-info">平原</dt>
    <dd class="stage-info-description">
      マカが旅する最初のステージ。
      生い茂る木や草をつついてみると...
    </dd>
  </dl>
</section>
