<section class="carousel-page top" id="top">
  <img class="top-jacket-grass" alt="" src="img/top_jacket_grass.png"/>
  <img class="top-jacket-bomb" alt="" src="img/top_jacket_bomb.png"/>
  <img class="top-jacket-maka" alt="" src="img/top_jacket_maka.png"/>
</section>
