<section class="section top" id="section-top">
  <img class="top-bomb" alt="bomb" src="img/rir_bomb.png"/>
  <img class="top-sra" alt="sra" src="img/rir_sra.png"/>
  <img class="top-maka" alt="maka" src="img/rir_maka.png"/>
</section>
