<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <script src="js/index.js"></script>
    <title>right &rarr; right - 右は正義-</title>
  </head>
  <body>
    <%- include('_header') %>
    <div id="current-page"></div>
    <%
    ['top', 'about', 'howto', 'characters', 'stages', 'distribution', 'credit'].forEach((name) => {
        path = '_' + name
    %>
      <%- include(path) %>
    <% }) %>
  </body>
</html>
