<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <title>right &rarr; right 〜右は正義〜</title>
    <% css.forEach(function(cssPath) { %>
      <link href="<%= cssPath %>" rel="stylesheet"/>
    <% }) %>
    <script src="js/smoothscroll.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body>
    <div class="page-wrapper">
      <% section.forEach(function (pagename) { %>
        <%- include('_' + pagename) %>
      <% }) %>

      <header class="page-header">
        right is right
      </header>

      <footer class="page-footer">
        <div class="page-footer-content">
          <ul class="links">
            <li class="link-item"><a href="#section-about">About</a></li>
            <li class="link-item"><a href="#section-character">Character</a></li>
            <li class="link-item"><a href="#section-stage">Stage</a></li>
            <li class="link-item"><a href="#section-distribution">Distribution</a></li>
            <li class="link-item"><a href="#section-credit">Credit</a></li>
          </ul>
          <div class="copyright">
            &copy; 2016 OY Brigade All rights reserved.
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
