@import 'variable';

.section.about {
  .subtitle {
    font-size: 36px;
    line-height: 72px;
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid $color-gray;
  }

  .pv {
    width: 100%;
    margin-bottom: 48px;
  }
}
