@import 'reset';
@import 'variable';
@import 'mixins';

@import 'section_top';
@import 'section_about';
@import 'section_character';
@import 'section_distribution';
@import 'section_credit';
@import 'modal';

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 640px;
  font-family: $font-default;
  color: $color-white;
  background-color: $color-green;
}

.page-wrapper {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.section {
  min-height: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 120px 48px;
  box-sizing: border-box;

  .section-header {
    font-weight: bolder;
    text-align:right;
    font-size: 32px;
    margin: 12px 0 48px;
  }
}

.page-header {
  @include header-footer('top');

  .rir-header-logo {
    position: relative;
    width: 240px;
    padding: 24px 0 0 32px;
    transition: width 0.5s;
  }
}

.page-footer {
  @include header-footer('bottom');

  .page-footer-content {
    position: relative;
    height: inherit;
    transform: rotate(-4deg);
    transform-origin: right bottom;

    .links {
      position: absolute;
      top: -32px;
      right: 12px;
      font-size: 24px;
      font-weight: bolder;
      line-height: 32px;
    }

    .link-item {
      display: inline;
      margin-right: 12px;

      a {
        color: $color-white;
        text-decoration: none;
        text-shadow: -1px 1px $color-gray, 1px -1px $color-white;

        &:hover {
          color: $color-lightgreen;
          text-decoration: underline;
        }
      }
    }

    .copyright {
      position: relative;
      top: 6px;
      right: 24px;
      color: $color-gray;
      text-align: right;
      font-size: 14px;
    }
  }
}
