@import 'reset';
@import 'variable';

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-default;
}

.page-wrapper {
  height: 100%;
  background-color: $color-green;
  color: $color-white;
  overflow-y: auto;
}

.section {
  min-height: 100%;

  .section-header {
    font-weight: bolder;
  }
}

.page-header {
  position: fixed;
  top: 0;
}

.page-footer {
  position: fixed;
  bottom: 0;
}
